body {
    font-family: 'Encode Sans', sans-serif;
    background-color: azure;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2:hover, li:hover{
    color: red;
    cursor: pointer;
}
h2 {
    font-size: 1rem;
    font-weight: bolder;
}

header {
    padding: 1em;
}

p {
    padding: 0.5em;
    font-weight: 300;
}