* {
    box-sizing: border-box;
}

html, body {
    background-color:#ebecf0;
    font-family: 'Encode Sans', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

header {
    text-align: center;
    width: 100%;
    padding: 1rem;
    background-color:#aeafb9;
}

header nav {
    display: inline;
}

header nav img {
    height: 40px;
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.websiteName {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #101118;
}

.row:first-of-type {
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.col {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: auto;
}

.card {
    padding: 1rem;
    border-radius: 10px;
}

.card img {
    border-radius: 10px;
}

.card:hover {
    background-color:#cdd1e2;
}

.card-title {
    color: #454549;
}

.card-text {
    color: #656a80;
}

footer {
    margin-top: 1rem;
    padding: .5rem;
    background-color:#aeafb9;
}

footer p {
    text-align: center;
    margin-top: 1rem;
}

@media (min-width: 598px) and (max-width: 767px) {
    .row:first-of-type {
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 991px)  {
    .row:first-of-type {
        flex-direction: row;
    }
    .col {
        width: 40%;
    }
}

@media (min-width: 992px) and (max-width: 1199px)  {
    .row:first-of-type {
        flex-direction: row;
    }
    .col {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    .row:first-of-type {
        flex-direction: row;
    }
    .col {
        width: 30%;
    }
}