html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.navBar {
    background: rgb(235, 230, 230);
    height: calc(4vw + 20px);
}

.navList {
	letter-spacing: 2px;
	font-size: calc(0.4vw + 12px);
    font-family: 'Open Sans', sans-serif;
}

.subLink {
    padding: .5rem 1rem .5rem .5rem;
    text-decoration: none;
    color: black;
}

.subLink:hover {
    color: white;
}

.mountainstop-logo {
    height: calc(1.8vw + 20px);
}

.w-100 {
    width:100%;
    height:150%;
    object-fit: cover;
    overflow: hidden;
}
.carousel {
    margin-bottom: 5rem;
}
.carousel .carousel-inner {
	height: 100%; 
}

.carousel .carousel-inner .carousel-item {
	height: 100%; 
}

.carousel-item img {
    opacity: 0.7;
}

.carouselTitle {
	font-size: calc(2.2vw + 32px);
	font-weight: bold;
}

.welcomeMessage {
    letter-spacing: 1px;
    line-height: 1.8;
}

.welcomeMessage h2 {
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: calc(5.8vw + 32px);
    margin-left: 1.5rem;
}

.welcomeMessage p {
    margin: 1rem 1.5rem 1rem 1.5rem;
}

.welcomeButton {
    margin-bottom: 2rem;
    margin-top: 1rem;
    background: white;
    outline: black;
    border-radius: 10px;
    padding: .5rem;
    margin-left: 1.5rem;
}

.rows {
    margin-top: 2rem;
}

.activities {
    margin-top: calc(4vw + 30px);
}

.activities h2 {
    text-align: center;
    font-size: calc(1.6vw + 32px);
}

.activityLink {
    text-decoration: none;
}

@media (max-width: 768px) {
    .activitiesRow {
        flex-direction: column;
    }
}