html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.navBar {
    background: rgb(235, 230, 230);
    height: calc(4vw + 20px);
}

.navList {
	letter-spacing: 2px;
	font-size: calc(0.4vw + 12px);
    font-family: 'Open Sans', sans-serif;
}

.subLink {
    padding: .5rem 1rem .5rem .5rem;
    text-decoration: none;
    color: black;
}

.subLink:hover {
    color: white;
}

.mountainstop-logo {
    height: calc(1.8vw + 20px);
}

.w-100 {
    width:100%;
    height:150%;
    object-fit: cover;
    overflow: hidden;
}

.carouselImg {
    filter: blur(5px);
}

.carousel {
    margin-bottom: 5rem;
}
.carousel .carousel-inner {
	height: 100%; 
}

.carousel .carousel-inner .carousel-item {
	height: 100%; 
}

.carousel-item img {
    opacity: 0.8;
}

.carouselTitle {
	font-size: calc(2.2vw + 32px);
	font-weight: bold;
    color: rgb(238, 236, 236);
}

.welcomeMessage {
    letter-spacing: 1px;
    line-height: 1.8;
}

.welcomeMessage h2 {
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: calc(5.8vw + 32px);
    margin-left: 1.5rem;
}

.welcomeMessage p {
    margin: 1rem 1.5rem 1rem 1.5rem;
}

.welcomeButton {
    margin-bottom: 2rem;
    margin-top: 1rem;
    background: white;
    outline: black;
    border-radius: 10px;
    padding: .5rem;
    margin-left: 1.5rem;
}

.rows {
    margin-top: 2rem;
}

#body {
    padding: 5px;
    margin-top: 50px;
    border: 1px solid grey;
    border-radius: 10px;
}

.btn.btn-danger, .btn.btn-primary{
    margin-right: 8px;
}

.card-body, .mb-3 {
    max-width: 1000px;
}

.mb-3 {
    margin-left: 12px;
}
.row.pb-2 {
    margin-left: 10px;
    max-width: 1000px;
}

.locations {
    margin-top: calc(4vw + 30px);
}

.rentalPage {
    margin-top: calc(4vw + 30px);
}

.rentalTable {
    width: 100%;
}

.reviewPage {
    margin-top: calc(4vw + 30px);
}

.reviewBox {
    padding: 10px;
    background-color: rgb(235, 230, 230);
    border-style: ridge;
    border-color: rgb(235, 230, 230);
    border-radius: 5px;
}

.reviewName {
    font-weight: bold;
    font-size: calc(0.4vw + 12px);
}

.reviewDate {
    font-weight: lighter;
    font-size: calc(0.2vw + 12px);
}

.reviewActivity em { 
    font-weight: bold;
}

.reviewText em {
    font-weight: bold;
}

.loginPage {
    margin-top: calc(16vw + 30px);
    margin-right: auto;
    margin-left: auto;
}

.loginContainer {
    background: rgb(235, 230, 230);
    width: calc(40vw + 30px);
    border-style: solid;
    border-color: rgb(231, 230, 230);
    padding-top: calc(10vw + 24px);
    margin-right: auto;
    margin-left: auto;
}

.weatherPage {
    margin-top: calc(4vw + 30px);   
}

@media (max-width: 480px) {

}

@media (max-width: 768px) {

}

@media (max-width: 1024px) {

}

@media (min-width: 1024px) and (max-width: 1200px) {

}