html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.navBar {
    background: #75a2d4;

}

.navList {
	letter-spacing: 2px;
	font-size: calc(0.4vw + 12px);
    font-family: 'Open Sans', sans-serif;
}

.subLink {
    padding: .5rem 1rem .5rem .5rem;
    text-decoration: none;
    color: black;
}

.subLink:hover {
    color: white;
}

.mountainstop-logo {
    height: calc(1.6vw + 20px);
}

.w-100 {
    width:100%;
    height:150%;
    object-fit: cover;
    overflow: hidden;
}
.carousel {
    margin-bottom: 5rem;
}
.carousel .carousel-inner {
	height: 100%; 
}

.carousel .carousel-inner .carousel-item {
	height: 100%; 
}

.carouselTitle {
	font-size: calc(2.2vw + 32px);
	font-weight: bold;
}

.welcomeMessage {
    letter-spacing: 1px;
    line-height: 1.8;
}

.welcomeMessage h2 {
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 8rem;
}

.welcomeMessage p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.welcomeButton {
    margin-bottom: 2rem;
    margin-top: 1rem;
    background: white;
    outline: black;
    border-radius: 10px;
    padding: .5rem;
}


